<div class="flex items-center pl-5 pb-2 space-x-3">
  <img src="../../../../assets/icon-search.svg" alt="" class="pb-2">
  <div class="flex flex-col w-full">
    <input type="text" placeholder={{placeholderMessage}} class="w-full focus:outline-none
      bg-transparent text-h2 text-white font-thin caret-redapp peer"  (keyup.enter)="searchContent(txtInput.value); txtInput.value=''" #txtInput (keyup.enter)="changePlaceholder()" >
    <div class="w-full pb-1 border-b border-bluelight invisible peer-focus:visible"></div>
  </div>
</div>

<!-- <ng-template #notice>
  <div class="flex items-center pl-5 pb-2 space-x-3">
    <img src="../../../../assets/icon-search.svg" alt="" class="pb-2">
    <div class="flex flex-col w-full">
      <input type="text" placeholder={{placeholderMessage}} class="w-full focus:outline-none
      bg-transparent text-h2 text-white font-thin caret-redapp peer" (keyup.enter)="searchContent(txtInput.value); txtInput.value=''" #txtInput (click)="clearMessage()">
      <div class="w-full pb-1 border-b border-bluelight invisible peer-focus:visible"></div>
    </div>
  </div>
</ng-template> -->

